.form-signin{
    display: block;
    max-width: 200px;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
}

.form-signin input{
    padding: 5px;
    margin: 5px;
}

button{
    padding: 5px;
    margin: 5px;
    width: 170px;
}